[Unit]
Description=tokentimeboostbot
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=tokentimeboostbot
User=root
Group=root
Environment=RUN_MODE=production
WorkingDirectory=/home/pi/bots
ExecStart=/home/pi/bots/TokenTimeBoostBot

[Install]
WantedBy=multi-user.target

