on:
  push:
  pull_request:

name: CI
permissions:
  contents: read

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.25.5
      - name: Code
        uses: actions/checkout@v3
      - name: Check diff between gofmt and code
        run: diff <(gofmt -d .) <(echo -n)
  
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [1.25.5]
    steps:
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
      - name: Code
        uses: actions/checkout@v3
      - run: go test -v -race ./...
  
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.25.5
      - name: Code
        uses: actions/checkout@v3
      - name: Go vet
        run: go vet -x ./...

      - name: Golangci-lint
        uses: golangci/golangci-lint-action@v8.0.0
      